<div id="page-top" class="index">
  <scroll-navbar></scroll-navbar>

  <!-- Header -->
  <header>
    <div class="container">
      <div class="intro-text">
        <!-- <div ng-bind-html="page.title.content"></div> -->
        <img class="intro-logo" src="assets/images/logos/4.png" />
        <div class="intro-lead-in">It's time to eat.</div>
        <div class="intro-heading">It's Time To Break Bao</div>
        <a href="" ng-click="vm.gotoElement('menu')" class="page-scroll btn btn-xl">Feed Me</a>
      </div>
    </div>
  </header>

  <!-- Locations Section -->
  <section id="locations">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading" ng-bind-html="vm.page['locations'].title"></h2>
          <h3 class="section-subheading text-muted" ng-bind-html="vm.page['locations'].content"></h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-8">
          <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" options="vm.map.options">
            <ui-gmap-marker idKey="vm.marker['UH'].id" coords="vm.marker['UH'].coords" options="vm.marker['UH'].options"></ui-gmap-marker>
            <ui-gmap-marker idKey="vm.marker['Menil'].id" coords="vm.marker['Menil'].coords" options="vm.marker['Menil'].options"></ui-gmap-marker>
          </ui-gmap-google-map>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Menil Collection</h4>
          <p class="text-muted">1533 Sul Ross Street, Houston, TX 77006</p>
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">University of Houston</h4>
          <p class="text-muted">4800 Calhoun Road, Houston, TX 77004</p>
        </div>

        <!-- <div class="col-md-4 text-left">
          <div ng-repeat="post in vm.posts.$object">
            <h2>{{post.title}}</h2>
            <p>
              <div ng-bind-html="post.content"></div>
            </p>
            <em>Posted by {{post.author.username}} on {{post.date | date}}</em>
          </div>
        </div> -->
      </div>
      <!-- <div class="row text-left">
        <div class="col-md-12">
          <hr />
          <div class="row">
            <h2>Debug info</h2>
            <pre>{{page.menu | json}}</pre>
          </div>
        </div>
      </div> -->
    </div>
  </section>

  <!-- Menu Grid Section -->
  <section id="menu" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading" ng-bind-html="vm.page['menu'].title"></h2>
          <h3 class="section-subheading text-muted" ng-bind-html="vm.page['menu'].content"></h3>
        </div>
      </div>
      <div ng-class="{ row: ($index % 3)==2 }" ng-repeat="item in vm.menuItems">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal{{$index}}" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img ng-src="{{item.featured_image.guid}}" class="img-responsive" alt="">
          </a>
          <div class="portfolio-caption">
            <h4 ng-bind-html="item.title"></h4>
            <p class="text-muted" ng-bind-html="item.excerpt"></p>
          </div>
        </div>
      </div>
  </section>

  <!-- About Section -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading" ng-bind-html="vm.page['about'].title"></h2>
          <h3 class="section-subheading text-muted" ng-bind-html="vm.page['about'].content"></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="assets/images/about/1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2009-2011</h4>
                  <h4 class="subheading">Our Humble Beginnings</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="assets/images/about/2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>March 2011</h4>
                  <h4 class="subheading">A Bao is Born</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="assets/images/about/3.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>December 2012</h4>
                  <h4 class="subheading">Transition to Food Truck</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="assets/images/about/4.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>July 2014</h4>
                  <h4 class="subheading">Phase Two Expansion</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>Be Part
                  <br>Of Our
                  <br>Story!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Team Section -->
  <section id="team" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading" ng-bind-html="vm.page['team'].title"></h2>
          <h3 class="section-subheading text-muted" ng-bind-html="vm.page['team'].content"></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3" ng-repeat="member in vm.teamMembers | orderBy:'ID'">
          <div class="team-member">
            <img ng-src="{{member.featured_image.guid}}" class="img-responsive img-circle" alt="">
            <h4 ng-bind-html="member.title"></h4>
            <p class="text-muted" ng-bind-html="member.content"></p>
            <ul class="list-inline social-buttons">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Clients Aside -->
  <!-- <aside class="clients">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img src="assets/images/logos/envato.jpg" class="img-responsive img-centered" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img src="assets/images/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img src="assets/images/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img src="assets/images/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
          </a>
        </div>
      </div>
    </div>
  </aside> -->

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Contact Us</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form name="sentMessage" id="contactForm" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button type="submit" class="btn btn-xl">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">&copy; 2016 &middot; Breaking Bao</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a></li> -->
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li><a href="#"></a>
            </li>
            <!-- <li><a href="#">Terms of Use</a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Portfolio Modal template -->
  <div class="portfolio-modal modal fade" id="portfolioModal{{$index}}" tabindex="-1" role="dialog" aria-hidden="true" ng-repeat="item in vm.menuItems">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 ng-bind-html="item.title"></h2>
              <p class="text-center">
                <img ng-src="{{item.featured_image.guid}}" class="img-responsive" alt="">
              </p>
              <p ng-bind-html="item.content"></p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
